#login
  - if @current_user
    %p.welcome  Welcome, #{@current_user.name}!
    = link_to 'Log Out', logout_path
  - else
    %p.login 
      Log in with your:     
      = link_to 'Google account', '/auth/google_oauth2'     
      -#      = link_to 'GitHub account', '/auth/github'
      = link_to 'LinkedIn account', '/auth/linkedin'
      ' or as an'
      = link_to 'developer', '/auth/developer'
