%h1 New Local ID for #{@entity.uuid}

= form_tag entity_local_identities_path(@entity) do
	= label :local_identities, :localID, 'LocalID'
	= text_field :local_identities, :localID

	= label :local_identities, :name, 'Name'
	= text_field :local_identities, :name

	= label :local_identities, :description, 'Description'
	= text_field :local_identities, :description
	
	= submit_tag 'Create Local ID'
