-#  This file is app/views/entities/index.html.haml
= link_to 'Register new entity', new_entity_path

%h2 Get Identity by local alias

= form_tag :action => 'get_by_alias' do

  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'
  = submit_tag 'Search by Alias'


%h2 All Entities

%table#entities
  %thead
    %tr
      %th Entity UUID
      %th Description
      %th Details & Edit
      -#      %th Edit
      %th Delete                  
  %tbody
    - @entities.each do |entity|
      %tr
        %td= entity.uuid 
        %td= entity.description
        %td= link_to "More about #{entity.uuid}", entity_path(entity)
        -#        %td= link_to 'Edit', edit_entity_path(entity)
        %td= button_to 'Delete', entity_path(entity), :method => :delete, :confirm => 'Are you sure?'
        

