-#  This file is app/views/entities/index.html.haml
= link_to 'Register new entity', new_entity_path

%h2 Get Entity by local alias

= form_tag :action => 'get_by_alias' do
  %table
    %tbody      
      %tr
        %td 
          %label{:for => 'search_terms'} Search Terms
        %td= text_field_tag 'search_terms'
        %td
          %label{:for => 'owner'} Owner ID 
        %td
          - if @current_user.nil? then ownerID=nil else ownerID=@current_user.id end
          = text_field_tag 'owner', value = ownerID, :size => 3
        %td= submit_tag 'Search by Alias'

%h2 Get Entity by UUID

= form_tag :action => 'getIdentity' do
  %table
    %tbody      
      %tr
        %td
          %label{:for => 'uuid'} UUID for lookup
        %td= text_field_tag 'uuid', value = nil, :size => 27
        %td= submit_tag 'Search by UUID'

%h2 All Entities

%table#entities
  %thead
    %tr
      %th Entity UUID
      %th Description
      %th Details & Edit
      -#      %th Edit
      %th Slaves
      %th Masters
      %th Delete                  
  %tbody
    - @entities.each do |entity|
      %tr
        %td= entity.uuid 
        %td= entity.description
        %td= link_to "More about #{entity.uuid}", entity_path(entity)
        -#        %td= link_to 'Edit', edit_entity_path(entity)
        %td= link_to "List of slaves", getSlaves_path(:uuid => entity.uuid)
        %td= link_to "List of masters", getMasters_path(:uuid => entity.uuid)
        %td= button_to 'Delete', entity_path(entity), :method => :delete, :confirm => 'Are you sure?'
        
= paginate @entities

