%h2 Register New Entity

= form_tag entities_path, :method => :post do

  = label :localIdentities, :local_ID, 'LocalID'
  = text_field :localIdentities, :local_ID

  = label :localIdentities, :description, 'Description'
  = text_field :localIdentities, :description

  = submit_tag 'Save Changes'
