%h2 Register New Entity

= form_tag entities_path, :method => :post do

  = label :local_identities, :localid, "Local ID"
  = text_field :local_identities, :localid

  = label :local_identities, :description, 'Description'
  = text_field :local_identities, :description

  = submit_tag 'Save Changes'
